<footer class="footer section--padded background--d_green">
  <div class="container">
    <div class="left third">
      <h4 class="h4 text--white">Braid.io</h4>
      <p class="text--white text--w_light">
        Briad.io is brought to you by Paul Bird. Braid was Born and made out of frustration; I was that fustrated developer.
      </p>
    </div>
    <div class="left half align-center">
      <h4 class="h4 text--white">Don't forget to sign up!</h4>
      <a href="#" class="btn btn--orange btn--big js-sign-up">Remember, it's free</a>
    </div>
  </div>
  <div class="copyright full">
    <div class="container">
      <p class="left">&copy; 2015 Braid.io</p>
      <ul class="footer-nav right">
        <li>
          <a href="/community">Community</a>
          <a href="/docs">Docs</a>
          <a href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- Include scripts -->
<script src="js/bower_components/cash/dist/cash.min.js"></script>
<script src="js/ajax.js"></script>
<script src="js/main.js"></script>
