<header class="header">
  <div class="container">
    <a href="/" class="logo left">
      <img src="{{ '/assets/images/logo@2x.png' | prepend: site.baseUrl }}" alt="braid.io logo">
    </a>
    <nav class="nav right">
      <ul>
        {% for link in site.navigation %}
        {% assign URL = page.url | replace: '.html', '' %}
        <li><a {% if URL == link.url %} class="current" {% endif %} href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
        <li><a class="btn btn--orange no-hover js-sign-up" href="#">Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- Sign up overlay -->
<div class="modal modal--signup">
  <h4 class="h4 text--grey align-center">Sign Up</h4>
  <form class="form js-signup-form">
    <div class="input-group">
      <label for="">Username</label>
      <input type="text" name="username" class="js-form-username">
    </div>
    <div class="input-group">
      <div class="input-group half inline-block">
        <label for="">First Name</label>
        <input type="text" name="firstname" class="js-form-firstname">
      </div><div class="input-group half inline-block">
        <label for="">Last name</label>
        <input type="text" name="lastname" class="js-form-lastname">
      </div>
    </div>
    <div class="input-group">
      <label for="">Email</label>
      <input type="text" name="email" class="js-form-email">
    </div>
    <div class="input-group">
      <label for="">Password</label>
      <input type="password" name="password" class="js-form-password">
    </div>
    <input type="submit" value="Sign Up">
  </form>
</div>
<div class="overlay"></div>
