<header class="header background--green">
  <div class="container">
    <a href="{{ site.url }}" class="logo left">
      <img src="{{ '/assets/images/logo@2x.png' | prepend: site.baseUrl }}" alt="braid.io logo">
    </a>
    <nav class="nav right">
      <ul>
        {% for link in site.navigation %}
        {% assign URL = page.url | replace: '.html', '' %}
        <li><a {% if URL == link.url %} class="current" {% endif %} href="{{ link.url }}">{{ link.text }}</a></li>
        {% endfor %}
        <li><a class="btn btn--orange no-hover" href="#">Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>
